.cart-container {
  padding: 20px 120px 0px 120px;
}

.cart-itme-container {
  margin-top: 80px;
  margin-left: 20px;
}

.cart-itme-container hr {
  margin: 20px 0;
}

.cart-heading {
  margin-bottom: 10px;
}

.cart-ul-container {
  margin-top: 20px;
  list-style: none;
}

.cart-items-title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  color: #696969;
  font-size: max(1vw, 19px);
  font-weight: 900;
  align-items: center;
}

.cart-image {
  width: 120px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5),
    -5px -5px 10px rgba(0, 0, 0, 0.3);
}

.cart-name {
  font-size: 20px;
  font-weight: 800;
}

.cart-price {
  font-size: 20px;
}

.cart-buttons-container {
  display: flex;
  gap: 10px;
}

.cart-buttons {
  width: 30px;
  height: 20px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 15px;
  font-weight: 800;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.cart-buttons:hover {
  transform: scale(1.2);
}

.cart-minus {
  background-color: rgb(241, 52, 52);
}

.cart-puls {
  background-color: rgb(44, 228, 24);
}

.remove-image {
  cursor: pointer;
}

.cart-buttom {
  margin-top: 80px;
  display: flex;
  /* flex-direction: column; */
  gap: max(12vw, 20px);
  margin-bottom: 30px;
}

.cart-total {
  /* flex: 3; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.cart-totoal-details {
  display: flex;
  justify-content: space-between;
}
.cart-total button {
  border: none;
  color: #fff;
  background-color: #f15e30;
  width: max(15vw, 200px);
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 800;
  transition: all 0.5s ease-in;
}

.cart-total button:hover {
  transform: scale(1.02);
}
