.register-container {
  min-height: 100vh;
  background-image: url("/src/assets/logo-1.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position: center;
  backdrop-filter: brightness(0.1);
}

.register-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px 0 50px 0;
  filter: drop-shadow(0 0 2rem red);
}

.image-logo {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  animation: logo-spin infinite 10s linear;
}

.logo-name {
  color: #fff;
  font-family: "Dancing Script", cursive;
  font-weight: 800;
  font-size: 42px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.register-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  height: 55vh;
  width: 30vw;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.label {
  font-size: 20px;
  color: #fff;
  /* color: rgb(0, 0, 0); */
  font-weight: 500;
  margin: 0 0 3px 0;
}

.register-inptus {
  background-color: transparent;
  /* border: 3px solid #000; */
  border: 2px solid #fff;
  padding: 15px;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  outline: none;
  margin-bottom: 15px;
}

.register-inptus::placeholder {
  /* color: rgba(0, 0, 0, 0.9); */
  color: #fff;
  font-weight: 700;
  font-size: 15px;
}

.register-inptus:focus {
  background-color: transparent;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  gap: 20px;
}

.but {
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transform: all 0.5s;
}

.but:hover {
  opacity: 0.7;
}

.submit {
  background-color: green;
  width: 170px;
  height: 40px;
}

.login-with-number {
  background-color: #0d6efd;
  width: 230px;
  height: 40px;
}

.error {
  margin-top: 5px;
  color: red;
  font-size: 20px;
  margin-left: 5px;
  font-weight: 800;
}
